@page
@model LetsGoSEA.WebSite.Views.Neighborhoods.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NeighborhoodModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeighborhoodModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeighborhoodModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeighborhoodModel.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeighborhoodModel.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeighborhoodModel.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeighborhoodModel.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeighborhoodModel.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeighborhoodModel.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeighborhoodModel.ShortDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeighborhoodModel.ShortDesc)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="NeighborhoodModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
