@page
@model LetsGoSEA.WebSite.Pages.Neighborhood.ReadModel

<!--CRUDI: ReadModel page to show: contains data of the selected neighborhood-->
@{
    ViewData["Title"] = "ReadModel Page";
    Layout = "Shared/_Layout";
}

<h1>Read</h1>

<div class="content">
    <h5 class="title" id="neighborhoodTitle">@Model.Neighborhood.Name</h5>
    @foreach (var neighborhoodImage in @Model.Neighborhood.Image.Split(','))
    {
        var neighborhoodImageURL = neighborhoodImage.Substring(0, neighborhoodImage.Length -1);
        <p>@Model.Neighborhood.Image'</p>
        <img class="card-img" src='@neighborhoodImage' alt='Image for @Model.Neighborhood.Name'>
    }

    <p class="card-text">@Model.Neighborhood.ShortDesc</p>

</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Neighborhood.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Neighborhood.Id" class="btn btn-danger">Delete</a>
</div>

<br />
<br />
