@page "{id}"
@using LetsGoSEA.WebSite.Services
@inject NeighborhoodService NeighborhoodService
@model LetsGoSEA.WebSite.Pages.Neighborhood.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<!--CRUDI: Update page to show: Form for updating neighborhood-->
<h1>Update</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.neighborhood.id)

        <div class="form-group">
            <label asp-for="neighborhood.id" class="control-label">Neighborhood Id</label>
            <input asp-for="neighborhood.id" class="form-control" readonly />
            <span asp-validation-for="neighborhood.id" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="neighborhood.name" class="control-label">Neighborhood Name</label>
            <input asp-for="neighborhood.name" class="form-control" />
            <span asp-validation-for="neighborhood.name" class="text-danger"></span>
        </div>

        <br/>

        <div class="form-group">
            <label asp-for="neighborhood.image" class="control-label">Link to Neighborhood Image (Add additional links separated by a comma)</label>
            <input asp-for="neighborhood.image" class="form-control" id="image-input" />
            <span asp-validation-for="neighborhood.image" class="text-danger"></span>
            <span class="text-danger visually-hidden" id="image-error-text">Please provide a valid image URL</span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="neighborhood.city" class="control-label">City</label>
            <input asp-for="neighborhood.city" class="form-control" readonly disabled />
            <span asp-validation-for="neighborhood.city" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="neighborhood.state" class="control-label">State</label>
            <input asp-for="neighborhood.state" class="form-control" readonly disabled />
            <span asp-validation-for="neighborhood.state" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="neighborhood.address" class="control-label">Address eg. "401 NE Northgate Way, Seattle, WA 98125"</label>
            <input asp-for="neighborhood.address" class="form-control" />
            <span asp-validation-for="neighborhood.address" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="neighborhood.shortDesc" class="control-label">Short Descripton</label>
            <input asp-for="neighborhood.shortDesc" class="form-control" />
            <span asp-validation-for="neighborhood.shortDesc" class="text-danger"></span>
        </div>

        <!--Allow user to delete uploaded image-->
        @{
            var currentUploadedModels = @Model.neighborhood.uploadedImages;
        }
        @if (currentUploadedModels.Count != 0)
        {
            <br />

            <div class="form-group">
                <label asp-for="neighborhood.uploadedImages" class="control-label">Delete uploaded image(s)</label>
                
                @foreach (var fileImage in currentUploadedModels)
                {
                    <br />
                    <input type="checkbox" name="DeleteFile" value="@fileImage.UploadedImageId" id="@fileImage.UploadedImageId" />
                    <label for="@fileImage.UploadedImageId">@fileImage.UploadedImageName</label>
                }
            
                <span asp-validation-for="neighborhood.uploadedImages" class="text-danger"></span>
            </div>
            
        }

        <br />

        <!--Allow user to upload photo(s)-->
         <div>
            <label asp-for="neighborhood.uploadedImages">Upload New Photo (May select multiple photos to upload, Only accept JPG and PNG images)</label>
            <input type="file" name="files" class="form-control" id="image-upload" accept="image/jpeg, image/png" multiple>
            <span class="text-danger visually-hidden" id="image-upload-error-text">Please upload a valid image</span>
        </div>

        <br />

        <div class="form-group">
            <a type="button" value="Cancel" class="= btn btn-primary" asp-page="/Neighborhood/Index">Cancel</a> 
            <input type="submit" value="Save" class="btn btn-primary" id="save" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossOrigin="anonymous"></script>
<script src="~/js/imageUploadValidation.js"></script>