@using LetsGoSEA.WebSite.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!-- _Layout.cshtml, site layout Page-->
@inject NeighborhoodService NeighborhoodService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - LetsGoSEA</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/> *@
    <!-- Bootstrap v5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/image/favicon.png"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
        <div class="container">
            <a style="font-family: 'Montserrat', sans-serif;" class="navbar-brand" asp-area="" asp-page="/">LetsGoSEA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Homepage Link-->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>

                    <!-- Explore Link with dropdown-->
                    <li class="nav-item">
                        <div class="btn-group">
                            <a class="btn" asp-area="" asp-page="/Explore/Index">Explore</a>
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var neighborhood in NeighborhoodService.GetNeighborhoods())
                                {
                                    <li>
                                        <a class="dropdown-item" asp-page="/Explore/Neighborhood" asp-route-id="@neighborhood.Id">@neighborhood.Name</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </li>

                    <!-- Neighborhood Index Link-->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Neighborhood/Index">Neighborhood Index</a>
                    </li>
                    <!-- About Us Link-->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted bg-footer">
    <div class="container">
        <p class="info-footer">
            &copy; 2022 - The C Sharp Investigators - <a asp-area="" asp-page="/Privacy">Privacy</a> <a href="https://github.com/nuri1126/TheCSharpInvestigators">Contribute</a>
        </p>

    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>